html {
  background: #D8D8D8;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font: garamond;
}

a:hover {
  color: black;
}

.titles {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  font-variant: small-caps;
  font-weight: bold;
}

p {
  margin-top: 0px;
  text-align: left;
}

body {
  background-color: white;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-family: arial;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 15px;
}

.flex-container {
  padding-top: 5px;
  list-style: none;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: DarkCyan;
  border-radius: 5px;
}

.flex-item {
  background: DarkCyan;
  padding: 0px;
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  font-variant: small-caps;
}

.flex-item:hover {
  color: black;

}

.header_image {
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sm-left-pane {
  position: absolute;
  left: 14%;
  width: 25%;
  text-align: center;
}

.lb-pane {
  background-color: DarkCyan;
  padding: 20px;
  color: whitesmoke;
}

.right-pane {
  margin-left: 50%;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: DarkCyan;
  color: whitesmoke;
  margin-right: 10%;
  text-align: center;
  border-radius: 15px;
}

.left-pane {
  position: absolute;
  left: 14%;
  width: 30%;
  text-align: center;
  border-radius: 15px;
  padding-bottom: 40px;
  padding-top: 15px;
  background-color: Yellow;
}

.right-about {
  margin-left: 50%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: DarkCyan;
  color: whitesmoke;
  margin-right: 10%;
  text-align: left;
  border-radius: 15px;
}
.left-about {
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  left: 14%;
  width: 30%;
  text-align: left;
  border-radius: 15px;
  background-color: Yellow;

}

.ex-right-pane {
  margin-left: 40%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  background-color: DarkCyan;
  color: whitesmoke;
  margin-right: 5%;
  text-align: center;
}

footer {
  padding-left: 5px;
  position:absolute;
  height: 40px;
  margin-bottom: 0px;
}

button {
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding-top: 0px;
}
.textbox {
  height: 32px;
  font-size: 16px;
  border-radius: 10px;
  width: 70%;
}

select {
  height: 30px;
  font-size: 16px;
  width: 40%;
}

.pButton {
  background-color: DarkCyan;
  color: white;
}

.yButton {
  background-color: Yellow;
}
